@-webkit-keyframes fade {
  from {
  opacity: 0 }
    to {
    opacity: 1 }
}

.splash {
  text-align: center;
  padding: 100px;
  .five-dollors {
    opacity: 0;
    @include animation(fade 2.0s ease-in);
    -webkit-animation-fill-mode: forwards;
  }

  .glyphicon-arrow-right {
    opacity: 0;
    font-size: 30px;
    @include animation(fade 2.0s ease-in .5s);
    -webkit-animation-fill-mode: forwards;
  }

  .five-bits{
    opacity: 0;
    @include animation(fade 2.0s ease-in 1s);
    -webkit-animation-fill-mode: forwards;
  }


  .tagline {
    opacity: 0;
    @include animation(fade 2.0s ease-in 1.5s);
    -webkit-animation-fill-mode: forwards;
  }
}

input.btn.btn-primary{
  font-size: 34px;
}
.logo {
  color: black;
  &:hover {
    text-decoration: none;
  }
}

header {
  overflow: auto;

  h1{
    font-size: 100px;
    font-weight: 900;
    margin: 28px 0;
  }

  a, a:hover{
    color: #333;
    text-decoration: none;
  }
}

footer{
  border-top: 1px solid #aaa;
  margin-top: 100px;
}
input[type=submit] {
  font-size: 40px;
  font-weight: 900;
  padding: 0 67px;
}

.input-group.btc{
  margin-top: 25px;
}
.glyphicon-arrow-right {
font-size: 40px;
margin-top: 20px;
}


.input-group {

  .glyphicon {
    display: block;
  }

  &.active .glyphicon {
    display: none;
  }
}

.input-group-addon {
  width: 50%;

  &:first-child {
    width: 25px;
  }

  .glyphicon-pencil {
    float: right;
    position: relative;
    top: -1px;
  }
}
