%h1 Congratulations!

%p
  You traded
  = content_tag(:span, number_to_currency(5), class: 'label label-success')
  for
  = content_tag(:span, 5000, class: 'label label-success')
  bits.
  The bits have been transferred to
  = content_tag(:span, @transaction.bitcoin_address, class: 'label label-primary')
